src/test/resources/person-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Person">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="fn"/>
                <xs:element type="xs:string" name="ln"/>
                <xs:element type="xs:byte" name="age"/>
                <xs:element type="xs:string" name="ssn"/>
                <xs:element name="hobbies">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="hobbie" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>